.fickleflightLogoIcon {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.exploreDiv {
  color: #1262af;
}
.exploreDiv,
.searchDiv {
  position: relative;
  display: inline-block;
}
.navigationMenuDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.unsplashd1UPkiFd04AIcon {
  border-radius: 38px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.accountSectionDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.navigationRightDiv {
  justify-content: flex-end;
  gap: 36px;
}
.navigationRightDiv,
.topContainerDiv,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainerDiv {
  flex: 1;
  justify-content: space-between;
}
.topHeader {
  align-self: stretch;
  background-color: #fff;
  height: 77px;
  padding: 22px 80px;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: 14px;
  color: #424242;
  font-family: Roboto;
}
.bannerBackground,
.bannerGradientDiv {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.bannerGradientDiv {
  top: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
  height: 639.91px;
}
.bannerBackground {
  top: 0.4px;
  max-width: 100%;
  height: 640px;
  object-fit: cover;
}
.findTheBestDestinationsAnd,
.letsExploreTravelTheWor {
  align-self: stretch;
  position: relative;
  line-height: 67px;
  display: inline-block;
}
.findTheBestDestinationsAnd {
  font-size: 24px;
  line-height: 32px;
  font-family: Roboto;
}
.titleDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.searchFlightsB {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: inline-block;
}
.radioFormControlLabel {
  position: absolute;
  top: 0;
  left: 0;
}
.radioFormControlLabel1 {
  position: absolute;
  top: 0;
  left: 106px;
}
.flightTypeDiv {
  position: relative;
  width: 216.53px;
  height: 38px;
}
.flightOptionsDiv,
.formTitleGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.formTitleGroup {
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  gap: 5px;
}
.formTitleGroup,
.selectOutlinedAutocomplete {
  align-self: stretch;
}
.inputGroupDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.inputsRowDiv {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonDiv {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 146.98px;
}
.buttonGroupDiv,
.searchFlightsButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchFlightsButton {
  border-radius: 4px;
  background-color: #f99a0e;
  width: 164px;
  height: 56px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}
.searchFlightsButton:hover {
  background-color: #dc880b;
}
.buttonGroupDiv {
  padding: 5px;
  box-sizing: border-box;
}
.formInputsRow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.searchContainerDiv,
.searchFormDiv {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.searchFormDiv {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  text-align: left;
  font-size: 20px;
  color: #303030;
  font-family: Roboto;
}
.searchContainerDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 640px;
  padding: 0 140px;
  align-items: center;
  justify-content: center;
  gap: 43px;
}
.searchSectionDiv {
  align-self: stretch;
  position: relative;
  height: 640px;
}
.heroSectionDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 61px;
  font-family: Baloo Bhai;
}
.sINB,
.singaporeDiv,
.upcomingFlightB {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: inline-block;
  width: 1268.05px;
}
.sINB,
.singaporeDiv {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  width: 44.73px;
}
.singaporeDiv {
  top: 30px;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #8e8e94;
  width: 72px;
}
.fromDetailsDiv {
  position: relative;
  width: 72px;
  height: 46px;
}
.h55MB {
  position: absolute;
  top: 28.09px;
  left: 23.69px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: inline-block;
  width: 65.66px;
}
.groupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 117.35px;
  height: 24px;
}
.durationDiv {
  position: relative;
  width: 117.35px;
  height: 44.09px;
  font-size: 14px;
  color: #8e8e94;
}
.lAXB,
.losAngelesDiv {
  position: absolute;
  top: 0;
  left: 36px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  width: 51.27px;
}
.losAngelesDiv {
  top: 30px;
  left: 0;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #8e8e94;
  width: 87.27px;
}
.toDetailsDiv {
  position: relative;
  width: 87.27px;
  height: 46px;
  text-align: right;
}
.toAndFrom {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.horizontalLineDiv {
  align-self: stretch;
  position: relative;
  border-top: 1px solid #eaeaea;
  box-sizing: border-box;
  height: 1px;
}
.daysToGo,
.departsOn1May0800AM {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  flex-shrink: 0;
}
.departsOn1May0800AM {
  text-transform: capitalize;
  width: 203.9px;
}
.daysToGo {
  text-align: right;
  width: 87.23px;
}
.departureDetailsDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #8e8e94;
}
.flightMainContainer {
  border-radius: 8px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px;
}
.lineSeparatorDiv {
  position: relative;
  border-right: 1px solid #eaeaea;
  box-sizing: border-box;
  width: 1px;
  height: 145.99px;
}
.hotelDiv,
.prepareForYourTrip {
  position: relative;
  letter-spacing: 0.04em;
  display: inline-block;
}
.prepareForYourTrip {
  align-self: stretch;
  text-transform: uppercase;
}
.hotelDiv {
  font-size: 15px;
  font-family: Roboto;
  color: #8e8e94;
  text-align: left;
}
.hotelButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #ff9b53;
  width: 65.39px;
  height: 65.39px;
}
.groupIcon2 {
  position: absolute;
  height: 47.93%;
  width: 48.38%;
  top: 26.04%;
  right: 25.81%;
  bottom: 26.03%;
  left: 25.81%;
  max-width: 100%;
  max-height: 100%;
}
.groupDiv {
  position: relative;
  width: 65.39px;
  height: 65.39px;
}
.attractionsDiv {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.04em;
  font-family: Roboto;
  color: #8e8e94;
  text-align: center;
  display: inline-block;
}
.rectangleDiv1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #fdbf00;
  width: 65.39px;
  height: 65.39px;
}
.vectorIcon {
  position: absolute;
  height: 48.43%;
  width: 41.17%;
  top: 26.51%;
  right: 29.42%;
  bottom: 25.06%;
  left: 29.42%;
  max-width: 100%;
  max-height: 100%;
}
.rectangleDiv2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #4dabff;
  width: 70px;
  height: 65.39px;
}
.vectorIcon1 {
  position: absolute;
  height: 40.15%;
  width: 40.52%;
  top: 29.63%;
  right: 29.74%;
  bottom: 30.22%;
  left: 29.74%;
  max-width: 100%;
  max-height: 100%;
}
.groupDiv2 {
  position: relative;
  width: 70px;
  height: 65.39px;
}
.taxiDiv {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.04em;
  font-family: Roboto;
  color: #8e8e94;
  text-align: center;
  display: inline-block;
  width: 32.12px;
}
.rectangleDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #79ca00;
  width: 65.39px;
  height: 65.39px;
}
.vectorIcon2 {
  position: absolute;
  height: 35.6%;
  width: 39.93%;
  top: 32.2%;
  right: 30.03%;
  bottom: 32.2%;
  left: 30.03%;
  max-width: 100%;
  max-height: 100%;
}
.tripMenusDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.flightDetailsDiv,
.prepareMenuDiv,
.upcomingFlightSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.prepareMenuDiv {
  flex: 1;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  color: #cecece;
}
.flightDetailsDiv,
.upcomingFlightSection {
  align-self: stretch;
}
.flightDetailsDiv {
  flex-direction: row;
  gap: 36px;
  font-size: 24px;
  color: #1262ae;
}
.upcomingFlightSection {
  flex-direction: column;
  gap: 20px;
}
.mostPopularDestinations {
  align-self: stretch;
  position: relative;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  color: #303030;
}
.titleContainerDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.viewAllDestinations {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 197.33px;
  flex-shrink: 0;
}
.destinationsTitlesDiv,
.viewAllTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.viewAllTop {
  text-decoration: none;
  border-radius: 31px;
  background-color: #fff;
  width: 231.38px;
  align-items: flex-start;
  gap: 10px;
  text-align: right;
  color: inherit;
}
.destinationsTitlesDiv {
  align-self: stretch;
  align-items: center;
}
.unsplashnnzkZNYWHaUIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.div,
.fromDiv,
.parisB {
  color: #fff;
  display: inline-block;
}
.parisB {
  flex: 1;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-family: Roboto;
  text-align: left;
}
.div,
.fromDiv {
  position: absolute;
  text-align: right;
}
.div {
  top: 21px;
  left: 0;
  font-size: 38px;
  line-height: 38px;
  font-family: Baloo Bhai;
  width: 90.92px;
}
.fromDiv {
  top: 0;
  left: 38.39px;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: Roboto;
  width: 52.53px;
}
.groupDiv4 {
  position: relative;
  width: 90.92px;
  height: 59px;
}
.destinationDetailsDiv {
  position: absolute;
  width: calc(100% - 0.59px);
  top: 0;
  right: 0.29px;
  left: 0.29px;
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  align-self: stretch;
  position: relative;
  border-radius: 10px;
  height: 182px;
  overflow: hidden;
}
.card1Button {
  cursor: pointer;
  border: 0;
  padding: 0 16px;
  background-color: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.div1,
.fromDiv1 {
  position: absolute;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.div1 {
  top: 21px;
  left: 0;
  font-size: 38px;
  line-height: 38px;
  font-family: Baloo Bhai;
}
.fromDiv1 {
  top: 0;
  left: 47.39px;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: Roboto;
  width: 52.53px;
}
.groupDiv5 {
  position: relative;
  width: 99.92px;
  height: 59px;
}
.div3,
.fromDiv3 {
  position: absolute;
  color: #fff;
  text-align: right;
  display: inline-block;
}
.div3 {
  top: 21px;
  left: 0;
  font-size: 38px;
  line-height: 38px;
  font-family: Baloo Bhai;
  width: 100.62px;
}
.fromDiv3 {
  top: 0;
  left: 48.09px;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: Roboto;
  width: 52.53px;
}
.groupDiv7 {
  position: relative;
  width: 100.62px;
  height: 59px;
}
.cardsContainerDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -16px;
  margin-right: -16px;
}
.viewAllDestinations1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 197.33px;
  flex-shrink: 0;
}
.popDestinationsMain,
.viewAllBottom {
  align-items: flex-start;
  justify-content: flex-start;
}
.viewAllBottom {
  border-radius: 31px;
  background-color: #fff;
  width: 231.38px;
  display: none;
  flex-direction: row;
  gap: 10px;
  text-align: right;
}
.popDestinationsMain {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #1262ae;
}
.recommendedHolidaysB,
.viewAllHolidays {
  position: relative;
  letter-spacing: 0.04em;
  display: inline-block;
}
.recommendedHolidaysB {
  flex: 1;
  text-transform: capitalize;
}
.viewAllHolidays {
  font-weight: 500;
  width: 165.89px;
  flex-shrink: 0;
}
.frameA,
.recTitleDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frameA {
  text-decoration: none;
  border-radius: 31px;
  background-color: #fff;
  width: 199.89px;
  align-items: flex-start;
  gap: 10px;
  text-align: right;
  font-size: 18px;
  color: #1262ae;
}
.recTitleDiv {
  align-self: stretch;
  align-items: center;
}
.unsplash5MV818tzxeoIcon {
  align-self: stretch;
  position: relative;
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  height: 242px;
  object-fit: cover;
}
.baliDiv,
.d3NDiv {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
}
.baliDiv {
  font-size: 20px;
  font-weight: 500;
  color: #424242;
}
.d3NDiv {
  font-size: 16px;
  color: #999;
}
.frameDiv5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.div4 {
  position: relative;
  font-size: 32px;
  line-height: 34px;
  font-family: Baloo Bhai;
  color: #1262af;
  text-align: right;
  display: inline-block;
}
.holidayDetailsDiv,
.recCard1,
.recCard3,
.recCard4 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.holidayDetailsDiv {
  align-self: stretch;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  position: relative;
  padding: 20px 16px;
  justify-content: center;
}
.recCard1,
.recCard3,
.recCard4 {
  cursor: pointer;
  border: 0;
  padding: 0 16px;
  background-color: transparent;
  flex: 1;
  justify-content: flex-start;
  width: 25%;
}
.recCardsContainerDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -16px;
  margin-right: -16px;
}
.viewAllHolidays1 {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 165.89px;
  flex-shrink: 0;
}
.viewAllBottom1 {
  border-radius: 31px;
  background-color: #fff;
  width: 199.89px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: right;
  font-size: 18px;
  color: #1262ae;
}
.recommendedHolidaysContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  font-size: 30px;
}
.popularStaysB {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  font-family: Roboto;
  color: #303030;
  text-align: left;
  width: 1105.34px;
}
.popularStaysTitle {
  flex: 1;
  position: relative;
  height: 35px;
}
.viewAllStays {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: Roboto;
  color: #1262ae;
  text-align: right;
  display: inline-block;
  width: 140.66px;
  flex-shrink: 0;
}
.frameA1,
.popularStaysHeader {
  display: flex;
  flex-direction: row;
}
.frameA1 {
  text-decoration: none;
  border-radius: 31px;
  background-color: #fff;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.popularStaysHeader {
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.unsplashHhRfsdWxXusIcon {
  align-self: stretch;
  position: relative;
  border-radius: 10px;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}
.entireBungalowDiv,
.matterhornSuitesB,
.nightDiv {
  align-self: stretch;
  position: relative;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
}
.entireBungalowDiv {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #8e8e94;
}
.matterhornSuitesB,
.nightDiv {
  letter-spacing: 0.04em;
  color: #303030;
}
.matterhornSuitesB {
  font-size: 22px;
  text-transform: capitalize;
}
.nightDiv {
  font-size: 18px;
}
.frameDiv12 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.videoIcon {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.stayDetailsDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.div8,
.reviewsDiv {
  position: absolute;
  top: 0;
  font-size: 16px;
  letter-spacing: 0.04em;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
}
.reviewsDiv {
  left: 53.63px;
  color: #1262af;
  width: 216.37px;
}
.div8 {
  left: 20.34px;
  font-weight: 500;
  color: #303030;
}
.groupDiv8,
.vectorIcon3 {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon3 {
  height: 90.47%;
  width: 37.54%;
  right: 62.46%;
  bottom: 9.53%;
  max-width: 100%;
  max-height: 100%;
}
.groupDiv8 {
  width: 44.34px;
  height: 19px;
}
.ratingDiv {
  align-self: stretch;
  position: relative;
  height: 19px;
}
.buttonDiv1 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  color: #1262af;
  text-align: left;
  display: inline-block;
}
.moreDetailsButton {
  cursor: pointer;
  border: 1px solid #ccdcec;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotelCard1,
.hotelCardDiv,
.stayDetailsDiv1 {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.hotelCardDiv {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  padding: 15px 13px;
  justify-content: flex-start;
  gap: 23px;
  width: 25%;
}
.hotelCardDiv2:hover,
.hotelCardDiv3:hover,
.hotelCardDiv:hover {
  background-color: rgba(226, 226, 226, 0.1);
}
.hotelCard1,
.stayDetailsDiv1 {
  flex-direction: row;
}
.hotelCard1 {
  padding: 0 12px;
  box-sizing: border-box;
  justify-content: center;
  width: 25%;
}
.stayDetailsDiv1 {
  justify-content: flex-start;
}
.arcticHutB,
.div10,
.reviewsDiv2 {
  letter-spacing: 0.04em;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
}
.arcticHutB {
  align-self: stretch;
  position: relative;
  font-size: 22px;
  text-transform: capitalize;
  color: #303030;
}
.div10,
.reviewsDiv2 {
  position: absolute;
  top: 0;
  font-size: 16px;
}
.reviewsDiv2 {
  left: 53.73px;
  color: #1262af;
  width: 216.27px;
}
.div10 {
  left: 20.38px;
  font-weight: 500;
  color: #303030;
}
.groupDiv10,
.vectorIcon5 {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon5 {
  height: 90.47%;
  width: 37.58%;
  right: 62.42%;
  bottom: 9.53%;
  max-width: 100%;
  max-height: 100%;
}
.groupDiv10 {
  width: 44.38px;
  height: 19px;
}
.hotelCardDiv2,
.hotelCardDiv3 {
  flex: 1;
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15px 13px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
  width: 25%;
}
.hotelCard4,
.hotelCardsDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
}
.hotelCard4 {
  flex: 1;
  padding: 0 12px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  width: 25%;
}
.hotelCardsDiv {
  height: 442px;
  align-items: center;
  justify-content: flex-start;
  margin-left: -12px;
  margin-right: -12px;
}
.viewAllStays1 {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: Roboto;
  color: #1262ae;
  text-align: right;
  display: inline-block;
  width: 140.66px;
  flex-shrink: 0;
}
.frameDiv16 {
  border-radius: 31px;
  background-color: #fff;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.homeContentsDiv,
.popularStaysForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.popularStaysForm {
  align-self: stretch;
  align-items: flex-start;
  gap: 20px;
}
.homeContentsDiv {
  width: 100%;
  padding: 0 80px;
  box-sizing: border-box;
  align-items: center;
  gap: 80px;
  max-width: 1280px;
  text-align: left;
  color: #303030;
}
.rectangleIcon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: 530px;
  object-fit: cover;
}
.formTitleB {
  align-self: stretch;
  position: relative;
  font-size: 30px;
  display: inline-block;
  color: #434343;
}
.formHeaderDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.fillInYourDetailsToJoinT {
  align-self: stretch;
  position: relative;
  line-height: 34px;
  display: inline-block;
}
.formTextDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputTextField {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.formFieldsDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.buttonDiv5 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.button,
.unstyledButtonDiv {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledButtonDiv {
  padding: 8px 22px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f99a0e;
  border-radius: 4px;
  width: 164px;
  height: 56px;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #99600a;
}
.formDiv,
.shareYourTravelsForm {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}
.formDiv {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid #eaeaea;
  position: relative;
  padding: 28px 30px;
  align-items: flex-start;
  gap: 17px;
  text-align: left;
  color: #576074;
}
.shareYourTravelsForm {
  position: relative !important;
  top: 52px;
  left: auto !important;
  width: 549px;
  padding: 20px;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}
.frameDiv17 {
  align-self: stretch;
  position: relative;
  background-color: #f3f7fb;
  height: 529px;
  overflow: hidden;
}
.fickleFlightIsYourOneStop {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  display: inline-block;
}
.socialIcons {
  position: relative;
  width: 130px;
  height: 30px;
}
.fickleFlightBioDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  margin-bottom: 40px !important;
}
.lineDiv {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
}
.aboutUs,
.companyDiv1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.aboutUs {
  text-decoration: none;
  top: 47.76px;
  color: inherit;
  width: 135.67px;
}
.companyDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.careersDiv,
.howWeWork,
.newsDiv {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 84.28px;
}
.careersDiv,
.howWeWork {
  top: 109.76px;
  width: 115.11px;
}
.howWeWork {
  top: 140.76px;
  width: 197.33px;
}
.companyDiv {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.accountDiv,
.supportDiv1 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.63px;
}
.supportDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.accessibilityDiv,
.fAQDiv,
.supportCenterDiv {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 197.33px;
}
.accessibilityDiv,
.fAQDiv {
  top: 109.76px;
  width: 52.99px;
}
.accessibilityDiv {
  top: 140.76px;
  width: 164.44px;
}
.covidAdvisoryDiv {
  top: 47.76px;
  width: 172.87px;
}
.airlineFeesDiv,
.covidAdvisoryDiv,
.moreDiv1,
.tipsDiv {
  position: absolute;
  left: 0;
  display: inline-block;
}
.moreDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.airlineFeesDiv,
.tipsDiv {
  top: 78.76px;
  width: 135.36px;
}
.tipsDiv {
  top: 109.76px;
  width: 50.56px;
}
.moreDiv {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.footer,
.footerLinksDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footerLinksDiv {
  flex: 1;
  justify-content: space-between;
  font-size: 16px;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  padding: 33px 84px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 44px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.footerSectionDiv,
.homepageDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footerSectionDiv {
  align-self: stretch;
  align-items: flex-start;
  color: #1262ae;
}
.homepageDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  align-items: center;
  gap: 69px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.homepageDiv:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1199px) {
  .topHeader {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .flightMainContainer {
    width: 520px;
  }
  .hotelCardDiv,
  .hotelCardDiv2,
  .hotelCardDiv3 {
    width: 25% !important;
  }
  .hotelCardsDiv {
    padding-right: 40px;
    box-sizing: border-box;
    margin-left: -12px;
    margin-right: -50px;
  }
  .footer {
    padding: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .navigationMenuDiv {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .topHeader {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .inputsRowDiv {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .searchFlightsButton {
    margin-right: auto;
  }
  .buttonGroupDiv {
    width: 100%;
    text-align: left;
  }
  .formInputsRow,
  .searchFormDiv {
    flex-direction: column;
  }
  .searchContainerDiv {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .horizontalLineDiv {
    width: 100%;
  }
  .flightMainContainer {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }
  .lineSeparatorDiv {
    display: none;
  }
  .prepareMenuDiv {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .flightDetailsDiv {
    flex-direction: column;
  }
  .upcomingFlightSection {
    display: block;
  }
  .viewAllTop {
    display: none;
  }
  .card1Button {
    padding: 16px;
    box-sizing: border-box;
    width: 50%;
  }
  .cardsContainerDiv {
    flex-wrap: wrap;
    margin: -16px;
  }
  .viewAllDestinations1 {
    width: auto;
  }
  .viewAllBottom {
    display: flex;
    margin-top: 16px;
  }
  .frameA {
    display: none;
  }
  .recCard1 {
    width: 50%;
    margin-bottom: 32px;
  }
  .recCard3,
  .recCard4 {
    width: 50%;
  }
  .recCardsContainerDiv {
    margin-left: -16px;
    margin-right: -16px;
    flex-wrap: wrap;
  }
  .viewAllHolidays1 {
    width: auto;
  }
  .viewAllBottom1 {
    display: flex;
    mrgin-top: 16px;
  }
  .frameA1 {
    display: none;
  }
  .hotelCardDiv {
    width: 100%;
  }
  .hotelCard1 {
    width: 33.33%;
  }
  .hotelCardDiv2 {
    width: 100%;
  }
  .hotelCardDiv3 {
    width: 33.33% !important;
  }
  .hotelCard4 {
    display: none;
    width: 33.33%;
  }
  .hotelCardsDiv {
    margin-right: -50px;
    margin-left: -12px;
  }
  .viewAllStays1 {
    width: auto;
  }
  .frameDiv16 {
    display: flex;
    margin-top: 16px;
  }
  .homeContentsDiv {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .shareYourTravelsForm {
    padding: 24px 0;
    box-sizing: border-box;
  }
  .fickleFlightBioDiv {
    flex: unset;
    align-self: stretch;
  }
  .lineDiv {
    display: none;
  }
  .footerLinksDiv {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: 40px 24px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 427px) {
  .navigationRightDiv {
    display: flex;
  }
  .letsExploreTravelTheWor {
    font-size: 42px;
    line-height: 48px;
  }
  .searchFlightsB {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 6px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eaeaea;
    flex: unset;
    align-self: stretch;
  }
  .flightTypeDiv {
    width: 100% !important;
  }
  .flightOptionsDiv {
    width: 100%;
  }
  .formTitleGroup {
    flex-direction: column;
    align-items: flex-start;
  }
  .inputGroupDiv {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputsRowDiv {
    flex-direction: column;
  }
  .searchFlightsButton {
    width: 100% !important;
  }
  .searchFormDiv {
    margin-top: 20px;
  }
  .hotelButton {
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
  }
  .tripMenusDiv {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -28px;
    margin-right: -28px;
  }
  .mostPopularDestinations {
    font-size: 22px;
  }
  .titleContainerDiv {
    flex: unset;
    align-self: stretch;
  }
  .destinationsTitlesDiv {
    flex-direction: column;
    align-self: flex-start;
  }
  .card1Button {
    width: 100%;
  }
  .recommendedHolidaysB {
    font-size: 22px;
  }
  .recCard1,
  .recCard3 {
    width: 100%;
    margin-bottom: 32px;
  }
  .recCard4 {
    width: 100%;
  }
  .popularStaysB {
    font-size: 22px;
  }
  .matterhornSuitesB {
    font-size: 20px;
  }
  .hotelCardDiv,
  .moreDetailsButton {
    width: 100% !important;
  }
  .hotelCardDiv {
    margin-bottom: 20px;
  }
  .hotelCard1 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .hotelCardDiv2,
  .hotelCardDiv3 {
    display: flex;
    width: 100% !important;
  }
  .hotelCard4 {
    flex: unset;
    align-self: stretch;
  }
  .hotelCardsDiv {
    flex-direction: column;
    padding-right: 0;
    box-sizing: border-box;
    margin-right: -12px;
    margin-left: -12px;
  }
  .button {
    width: 100%;
  }
  .button:hover {
    background-color: #9e6104;
  }
  .shareYourTravelsForm {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .companyDiv {
    margin-bottom: 40px !important;
  }
  .footerLinksDiv {
    flex-direction: column;
  }
  .footer {
    padding: 30px 24px;
    box-sizing: border-box;
  }
  .homepageDiv {
    width: 100%;
  }
  .homepageDiv:hover {
    background-color: #f99a0e;
  }
}
