.rectangleDiv {
  position: absolute;
  top: 626px;
  left: 360px;
  background-color: #d9d9d9;
  width: 260px;
  height: 197px;
}
.frameDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1646px;
  overflow: hidden;
}
