.fickleflightLogoIcon {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
  cursor: pointer;
}
.exploreDiv {
  color: #1262af;
}
.exploreDiv,
.searchDiv {
  position: relative;
  display: inline-block;
}
.navigationMenuDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.hamburgerMenuIcon {
  display: none;
}
.hamburgerMenuIcon,
.notificationBellIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.unsplashd1UPkiFd04AIcon {
  border-radius: 38px;
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.accountSectionDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.navigationRightDiv {
  justify-content: flex-end;
  gap: 36px;
}
.navigationRightDiv,
.topContainerDiv,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.topContainerDiv {
  flex: 1;
  justify-content: space-between;
}
.topHeader {
  align-self: stretch;
  background-color: #fff;
  height: 77px;
  padding: 22px 80px;
  box-sizing: border-box;
  justify-content: center;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  text-align: left;
  font-size: 14px;
  color: #424242;
  font-family: Roboto;
}
.bannerBackgroundIcon,
.bannerGradientDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
}
.bannerGradientDiv {
  top: 0;
  bottom: 0;
  background: linear-gradient(78.78deg, #114f8b 5.2%, #2a9ad7);
}
.bannerBackgroundIcon {
  top: 0.4px;
  bottom: -0.4px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.whereAreYouOffToo {
  align-self: stretch;
  position: relative;
  line-height: 67px;
  display: inline-block;
}
.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.departureFieldAutocomplete,
.titleDiv {
  align-self: stretch;
}
.inputGroupDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.arrivalDiv {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 12px;
  display: inline-block;
}
.labelContainerDiv {
  background-color: #fff;
  height: 2px;
  display: flex;
  flex-direction: row;
  padding: 0 4px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.avatarDiv,
.oPDiv {
  align-items: center;
  justify-content: center;
}
.oPDiv {
  flex: 1;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 166%;
  display: flex;
}
.avatarDiv {
  border-radius: 64px;
  background-color: #bdbdbd;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: none;
  flex-direction: row;
}
.chipDiv1 {
  position: relative;
  letter-spacing: 0.16px;
  line-height: 18px;
  display: inline-block;
}
.containerDiv,
.typographyDiv {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.typographyDiv {
  flex-direction: column;
  padding: 3px 6px;
  align-items: flex-start;
  text-align: left;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}
.containerDiv {
  border-radius: 16px;
  background-color: #e0e0e0;
  flex-direction: row;
  padding: 4px;
  align-items: center;
}
.chipDiv,
.mUIAutocompleteTagDiv {
  align-items: flex-start;
  justify-content: flex-start;
}
.chipDiv {
  display: flex;
  flex-direction: column;
}
.mUIAutocompleteTagDiv {
  display: none;
  flex-direction: row;
  gap: 8px;
}
.losAngelesLA {
  flex: 1;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  display: inline-block;
}
.activeDiv,
.inputDiv {
  align-self: stretch;
  box-sizing: border-box;
}
.activeDiv {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  color: #616161;
}
.inputDiv {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  position: relative;
  height: 56px;
  flex-direction: column;
  padding: 0 12px;
}
.arrivalFieldDiv,
.inputDiv,
.inputsRowDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrivalFieldDiv {
  align-self: stretch;
  height: 56px;
  flex-direction: column;
}
.inputsRowDiv {
  flex: 1;
  flex-direction: row;
}
.buttonDiv {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 146.98px;
}
.buttonGroupDiv,
.searchFlightsButton {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchFlightsButton {
  border-radius: 4px;
  width: 164px;
  height: 56px;
  overflow: hidden;
  display: flex;
  transition: 0.3s;
}
.searchFlightsButton,
.searchFlightsButton:hover {
  background-color: #f99a0e;
}
.buttonGroupDiv {
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.buttonGroupDiv,
.searchFormDiv,
.searchSectionDiv {
  display: flex;
  box-sizing: border-box;
}
.searchFormDiv {
  align-self: stretch;
  border-radius: 10px;
  background-color: #fff;
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
}
.searchSectionDiv {
  position: absolute;
  width: 100%;
  top: calc(50% - 96.5px);
  right: 0;
  left: 0;
  flex-direction: column;
  padding: 0 80px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.searchContainerDiv {
  align-self: stretch;
  position: relative;
  height: 362px;
}
.searchFormSection {
  align-self: stretch;
  background: linear-gradient(100.3deg, #114f8b, #2a9ad7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Baloo Bhai;
}
.resultsDiv {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 219.41px;
}
.vectorIcon {
  position: absolute;
  top: 46.5px;
  left: 0;
  width: 311.5px;
  height: 1px;
}
.resultsB,
.resultsSummaryDiv {
  position: absolute;
  top: 0;
  left: 0;
}
.resultsSummaryDiv {
  width: 311.5px;
  height: 47px;
  font-size: 20px;
}
.resultsB {
  letter-spacing: 0.26px;
  display: inline-block;
  width: 189.03px;
}
.component1formcheckboxFormControlLabel {
  position: absolute;
  top: 50px;
  left: 0;
}
.bookingOptionsDiv,
.component1formcheckboxFormControlLabel1 {
  position: absolute;
  top: 86px;
  left: 0;
}
.bookingOptionsDiv {
  top: 231.4px;
  width: 221px;
  height: 106px;
  font-size: 22px;
}
.rectangleDiv,
.resultsB1 {
  position: absolute;
  top: 0;
  left: 0;
}
.resultsB1 {
  font-size: 22px;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 198.04px;
}
.rectangleDiv {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #adb2b7;
  box-sizing: border-box;
}
.component1Div,
.resultsDiv1 {
  position: relative;
  width: 20px;
  height: 20px;
}
.resultsDiv1 {
  letter-spacing: 0.26px;
  display: inline-block;
  width: 266.49px;
  flex-shrink: 0;
}
.component1formcheckboxDiv {
  position: absolute;
  top: 50px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.resultsDiv2 {
  position: relative;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 274.8px;
  flex-shrink: 0;
}
.component1formcheckboxDiv1 {
  position: absolute;
  top: 86px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.flightExperienceDiv {
  position: absolute;
  top: 376.6px;
  left: 0;
  width: 310.8px;
  height: 106px;
}
.resultsB2 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 87.77px;
}
.airlinesDiv {
  position: absolute;
  top: 561px;
  left: 0;
  width: 178px;
  height: 106px;
}
.resultsB3,
.resultsDiv6 {
  letter-spacing: 0.26px;
  display: inline-block;
}
.resultsB3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  width: 65.26px;
}
.resultsDiv6 {
  position: relative;
  width: 260.62px;
  flex-shrink: 0;
}
.seperatorIcon,
.stopsDiv {
  position: absolute;
  top: 86.2px;
  left: 0;
  width: 296.62px;
  height: 106px;
}
.seperatorIcon {
  top: 521.3px;
  width: 350.5px;
  height: 1px;
}
.searchFiltersDiv,
.turkishIcon {
  position: relative;
  width: 350.5px;
  height: 667px;
}
.turkishIcon {
  width: 34.77px;
  height: 46px;
}
.singaporeAirlinesDiv {
  position: relative;
  letter-spacing: 0.26px;
  display: inline-block;
}
.frameDiv {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.aMDiv,
.sINDiv {
  position: absolute;
  left: 0;
  display: inline-block;
}
.aMDiv {
  height: 48.08%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 51.92%;
  letter-spacing: 0.32px;
  font-weight: 500;
}
.sINDiv {
  height: 36.54%;
  width: 79.51%;
  top: 63.46%;
  right: 20.49%;
  bottom: 0;
  font-size: 16px;
  letter-spacing: 0.26px;
  color: #646468;
}
.groupDiv {
  position: relative;
  width: 93px;
  height: 52px;
}
.groupIcon {
  position: absolute;
  height: 27.46%;
  width: 88.52%;
  top: 0;
  right: 5.5%;
  bottom: 72.54%;
  left: 5.98%;
  max-width: 100%;
  max-height: 100%;
}
.h55MNonStop {
  position: absolute;
  height: 34.55%;
  width: 100%;
  top: 65.45%;
  right: 0;
  bottom: 0;
  left: 0;
  letter-spacing: 0.21px;
  display: inline-block;
}
.groupDiv1 {
  position: relative;
  width: 121px;
  height: 55px;
  text-align: center;
  font-size: 16px;
  color: #8e8e94;
}
.sINDiv1 {
  position: absolute;
  height: 36.54%;
  width: 81.25%;
  top: 63.46%;
  right: 1.1%;
  bottom: 0;
  left: 17.65%;
  font-size: 16px;
  letter-spacing: 0.26px;
  color: #646468;
  display: inline-block;
}
.groupDiv2 {
  position: relative;
  width: 91px;
  height: 52px;
  text-align: right;
}
.frameDiv1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 64%;
  font-size: 21px;
  color: #1262af;
}
.vectorIcon1 {
  position: relative;
  width: 1px;
  height: 100px;
}
.s730B {
  flex: 1;
  position: relative;
  letter-spacing: 0.34px;
  display: inline-block;
}
.flightCardDiv,
.frameDiv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameDiv2 {
  width: 128px;
  text-align: center;
  font-size: 24px;
  color: #fba403;
}
.flightCardDiv {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  border: 0.7px solid #cecece;
  box-sizing: border-box;
  position: relative;
  padding: 0 25px;
  gap: 50px;
}
.singaporeAirlinesDiv1 {
  position: relative;
  letter-spacing: 0.26px;
  display: inline-block;
  width: 140px;
  flex-shrink: 0;
}
.groupIcon1 {
  position: absolute;
  height: 27.46%;
  width: 75.43%;
  top: 0;
  right: 11.73%;
  bottom: 72.54%;
  left: 12.84%;
  max-width: 100%;
  max-height: 100%;
}
.groupDiv4 {
  position: relative;
  width: 142px;
  height: 55px;
  text-align: center;
  font-size: 16px;
  color: #8e8e94;
}
.flightCardDiv1,
.frameDiv4,
.frameDiv5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frameDiv4 {
  flex: 1;
  justify-content: space-between;
  width: 64%;
  text-align: left;
  font-size: 21px;
  color: #1262af;
}
.flightCardDiv1,
.frameDiv5 {
  justify-content: center;
}
.frameDiv5 {
  width: 128px;
  font-size: 24px;
  color: #fba403;
}
.flightCardDiv1 {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  border: 0.7px solid #cecece;
  box-sizing: border-box;
  position: relative;
  padding: 0 25px;
  gap: 50px;
  text-align: center;
}
.japanIcon {
  transform: scale(0.8);
}
.americanAirlinesIcon,
.japanIcon {
  position: relative;
  width: 34.77px;
  height: 46px;
}
.rectangleDiv6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background-color: #1262af;
}
.searchFlightsDiv {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 81.5px);
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
}
.primaryButtonDiv {
  position: relative;
  width: 220px;
  height: 72px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.flightCardsDiv,
.searchResultsDiv {
  display: flex;
  align-items: flex-start;
}
.flightCardsDiv {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
  font-size: 16px;
}
.searchResultsDiv {
  align-self: stretch;
  flex-direction: row;
  padding: 50px 80px;
  box-sizing: border-box;
  justify-content: center;
  font-size: 17px;
  color: #57575d;
}
.newsletterSectionBackground {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  height: 530px;
  object-fit: cover;
}
.formTitleB,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitleB {
  font-size: 30px;
  color: #434343;
}
.formHeaderDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.fillInYourDetailsToJoinT {
  align-self: stretch;
  position: relative;
  line-height: 34px;
  display: inline-block;
}
.formTextDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputTextField {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.formFieldsDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.buttonDiv1 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  display: inline-block;
}
.button,
.unstyledButtonDiv {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.unstyledButtonDiv {
  padding: 8px 22px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #f99a0e;
  border-radius: 4px;
  width: 164px;
  height: 56px;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #99600a;
}
.formDiv,
.subscribeFormDiv {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}
.formDiv {
  align-self: stretch;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid #eaeaea;
  position: relative;
  padding: 28px 30px;
  align-items: flex-start;
  gap: 17px;
  text-align: left;
  color: #576074;
}
.subscribeFormDiv {
  position: relative !important;
  top: 52px;
  left: auto !important;
  width: 549px;
  padding: 20px;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}
.newsletterFormSection {
  align-self: stretch;
  position: relative;
  background-color: #f3f7fb;
  height: 529px;
  overflow: hidden;
}
.logoIcon {
  position: relative;
  width: 174px;
  height: 33px;
  overflow: hidden;
}
.fickleFlightIsYourOneStop {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  display: inline-block;
}
.socialIcons {
  position: relative;
  width: 130px;
  height: 30px;
}
.fickleFlightBioDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  margin-bottom: 40px !important;
}
.seperatorDiv {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
}
.aboutUs,
.companyDiv1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.aboutUs {
  text-decoration: none;
  top: 47.76px;
  color: inherit;
  width: 135.67px;
}
.companyDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.careersDiv,
.howWeWork,
.newsDiv {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 84.28px;
}
.careersDiv,
.howWeWork {
  top: 109.76px;
  width: 115.11px;
}
.howWeWork {
  top: 140.76px;
  width: 197.33px;
}
.companyDiv {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.accountDiv,
.supportDiv1 {
  position: absolute;
  top: 47.76px;
  left: 0;
  display: inline-block;
  width: 109.63px;
}
.supportDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.accessibilityDiv,
.fAQDiv,
.supportCenterDiv {
  position: absolute;
  top: 78.76px;
  left: 0;
  display: inline-block;
  width: 197.33px;
}
.accessibilityDiv,
.fAQDiv {
  top: 109.76px;
  width: 52.99px;
}
.accessibilityDiv {
  top: 140.76px;
  width: 164.44px;
}
.covidAdvisoryDiv {
  top: 47.76px;
  width: 172.87px;
}
.airlineFeesDiv,
.covidAdvisoryDiv,
.moreDiv1,
.tipsDiv {
  position: absolute;
  left: 0;
  display: inline-block;
}
.moreDiv1 {
  top: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.airlineFeesDiv,
.tipsDiv {
  top: 78.76px;
  width: 135.36px;
}
.tipsDiv {
  top: 109.76px;
  width: 50.56px;
}
.moreDiv {
  position: relative;
  width: 197.33px;
  height: 159.76px;
}
.footerLinksDiv {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 16px;
}
.footer,
.footerSectionDiv,
.resultsPageDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: 33px 84px;
  box-sizing: border-box;
  gap: 44px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Roboto;
}
.footerSectionDiv,
.resultsPageDiv {
  flex-direction: column;
}
.footerSectionDiv {
  align-self: stretch;
  text-align: center;
  font-size: 18px;
  color: #1262ae;
}
.resultsPageDiv {
  position: relative;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: 61px;
  color: #fff;
  font-family: Roboto;
}
@media screen and (max-width: 1199px) {
  .topHeader {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .searchFiltersDiv {
    display: none;
  }
  .footer,
  .searchResultsDiv {
    padding: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 767px) {
  .navigationMenuDiv {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .topHeader {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
  .whereAreYouOffToo {
    font-size: 42px;
    line-height: 48px;
  }
  .inputsRowDiv {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .searchFlightsButton {
    margin-right: auto;
  }
  .buttonGroupDiv {
    width: 100%;
    text-align: left;
  }
  .searchFormDiv {
    flex-direction: column;
  }
  .searchSectionDiv {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    width: 100%;
    top: calc(44% - 96.5px - 0px);
  }
  .frameDiv {
    flex-direction: column;
  }
  .frameDiv1,
  .frameDiv4 {
    flex-direction: row;
  }
  .searchResultsDiv,
  .subscribeFormDiv {
    padding: 20px 24px;
    box-sizing: border-box;
  }
  .subscribeFormDiv {
    padding: 24px 0;
  }
  .fickleFlightBioDiv {
    flex: unset;
    align-self: stretch;
  }
  .seperatorDiv {
    display: none;
  }
  .footerLinksDiv {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: 40px 24px 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 427px) {
  .navigationRightDiv {
    display: flex;
  }
  .whereAreYouOffToo {
    font-size: 31px;
    line-height: 40px;
  }
  .inputGroupDiv {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputsRowDiv {
    flex-direction: column;
  }
  .searchFlightsButton {
    width: 100% !important;
  }
  .searchSectionDiv {
    width: 100%;
    top: calc(32% - 96.5px - 0px);
  }
  .searchContainerDiv {
    height: 480px;
  }
  .turkishIcon {
    transform: scale(0.8);
  }
  .frameDiv {
    flex-direction: row;
    width: 100% !important;
    margin-right: 0 !important;
  }
  .groupDiv1 {
    transform: scale(0.9);
  }
  .frameDiv1 {
    width: 90%;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
    margin-right: 0 !important;
    flex: unset;
    align-self: stretch;
  }
  .vectorIcon1 {
    display: none;
  }
  .flightCardDiv {
    flex-direction: column;
    padding: 30px 0 30px px;
    box-sizing: border-box;
    gap: 20px;
  }
  .groupDiv4 {
    transform: scale(0.9);
  }
  .frameDiv4 {
    width: 90%;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
    margin-right: 0 !important;
    flex: unset;
    align-self: stretch;
  }
  .flightCardDiv1 {
    flex-direction: column;
    padding: 30px 0 30px px;
    box-sizing: border-box;
    gap: 20px;
  }
  .button {
    width: 100%;
  }
  .button:hover {
    background-color: #f99a0e;
  }
  .subscribeFormDiv {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .companyDiv {
    margin-bottom: 40px !important;
  }
  .footerLinksDiv {
    flex-direction: column;
  }
  .footer {
    padding: 30px 24px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .frameDiv1,
  .frameDiv4 {
    width: 100%;
  }
}
@media screen and (max-width: 310px) {
  .frameDiv,
  .frameDiv1 {
    width: 100%;
    margin-right: 0;
  }
  .frameDiv {
    flex-direction: row;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 16px;
  }
  .frameDiv1 {
    flex: unset;
    align-self: stretch;
  }
  .vectorIcon1 {
    display: none;
  }
  .flightCardDiv,
  .frameDiv2 {
    box-sizing: border-box;
    width: 100%;
  }
  .frameDiv2 {
    padding: 6px;
    background-color: #f5f7f8;
    margin-top: 16px;
  }
  .flightCardDiv {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  .frameDiv4 {
    width: 100%;
    margin-right: 0;
    flex: unset;
    align-self: stretch;
  }
  .flightCardDiv1,
  .frameDiv5 {
    box-sizing: border-box;
    width: 100%;
  }
  .frameDiv5 {
    padding: 6px;
    background-color: #f5f7f8;
    margin-top: 16px;
  }
  .flightCardDiv1 {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  .flightCardsDiv {
    width: 100%;
  }
}
